<template>
  <div class="box-wrapper">
      <div class="wrap-container">
        <section id="app-left" class="column flex flex-col just-c-s-b side-p-t-b">
          <div>
            <div class="p-75 p-20">My Accounts</div>
            <div v-for="account in allAccounts" :key="account.id" class="p-75 p-20 level m-b-0 each-account" :class="[getHighlight(account.id)]" @click="switchAccountQuestion(account)" @keyup.enter="switchAccount(account)">
              <div class="account-img"></div>
              <div class="account-name has-text-left">{{account.business.name}}</div>
            </div>
          </div>
					<el-collapse accordion>
						<el-collapse-item name="1">
							<template slot="title">
								<div class="level p-lr-20">
									<div class="account-img">
									</div>
									<div class="account-name has-text-left">{{userName}}</div>
								</div>
							</template>
							<div class="level logout" @click="logout()" @keyup.enter="logout()">
								<!-- <icon name="sign-out-alt" scale="2.1"></icon> -->
								<div class="account-name has-text-left">logout</div>
							</div>
						</el-collapse-item>
					</el-collapse>
        </section>
        <section id="app-right">
          <transition name="fade" mode="out-in">
            <div class="modal" :class="{'is-active': ifShowModal}">
              <div class="modal-background"></div>
              <div class="modal-content">
                <div class="box modal-box container flex flex-col just-c-c" v-if="showModalAccount">
                  <p class="level">Switching accounts will change your access levels. Are you sure you want to switch accounts?</p>
                  <div>
                    <a class="button is-outlined leve" tabindex="0" @click="showModal = false; showModalAccount = false" @keyup.enter="showModal = false; showModalAccount = false">No</a>
                    <a class="button is-primary is-outlined" tabindex="0" @click="showModalAccount = false; switchAccount()" @keyup.enter="showModalAccount = false; switchAccount()">Yes</a>
                  </div>
                </div>
                <div v-if="showModalLoad"><img src="../assets/images/loading.gif" height="80px" width="80px"></div>
              </div>
              <button v-if="showModalAccount" class="modal-close is-large" aria-label="close" @click="showModal = false"></button>
            </div>
          </transition>
          <!-- </div> -->
          <div class="top-bar has-text-left level is-mobile has-text-left has-text-grey-lighter">
            <icon name="th" class="level-left app-icon" scale="3"></icon>
            <input type="checkbox" v-model="showSideNav" class="openSidebarMenu menu-burg" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIconToggle menu-burg">
              <div class="spinner diagonal part-1"></div>
              <div class="spinner horizontal"></div>
              <div class="spinner diagonal part-2"></div>
            </label>
            <div class="level-right">
              <div class="title-site level">My Apps</div>
            </div>
          </div>
          <div class="box-container">
            <div id="sidebarMenu" v-if="showSideNav">
              <ul class="sidebarMenuInner">
                <li>My Accounts</li>
                <li v-for="account in allAccounts" :key="account.id" :class="[getHighlightMobile(account.id)]" @click="switchAccountQuestion(account)" @keyup.enter="switchAccount(account)">{{account.business.name}}</li>
                <li @click="logout()" @keyup.enter="logout()">Logout</li>
              </ul>
            </div>
            <div class="tile is-ancestor grid-wrap w100 flex just-c-c align-c-fs" >
              <div v-for="permission in permissions" :key="permission.application.id" class="box flex flex-col just-c-c" tabindex="0">
								<img class="a-s-center" src="../assets/images/skype_logo.png" height="100px" width="100px">
                <p>{{permission.application.name}}</p>
              </div>
            </div>
          </div>
        </section>
      </div>
  </div>
</template>

<script>
import Env from '../environment.js'
import axios from 'axios'
import LoginFunctions from './controllers/Login'

export default {
  name: 'Home',
  props: {
    msg: String
  },
  data () {
    return {
      showSideNav: false,
      showModal: false,
      showModalAccount: false,
      showModalLoad: false,
      switchToAccount: {},
			userName: ''
    }
  },
  computed: {
    ifShowModal () {
      if (this.showModal === true) {
        return true
      } else {
        return false
      }
    },
    allAccounts () {
      return this.$store.getters.getAccounts
    },
    currentAccount () {
      return this.$store.getters.getActiveAccount
    },
    permissions () {
      return this.$store.getters.getAccountPermissions
    }
  },
  created () {
    this.startLoad()
    this.getAccounts().then((res) => {
      let data = res.data.payload.accounts
      this.$store.dispatch('SET_ACCOUNTS', data).then(() => {
				// set default active account to first account:
				if (!this.$store.getters.getActiveAccount.business_id) {
					this.$store.dispatch('SET_ACTIVE_ACCOUNT', this.$store.getters.getAccounts[0])
				}
			}).then(() => {
				// make api call to select user account and get a new token for that account:
				this.selectUserAccount(this.$store.getters.getActiveAccount.user_id)
				.then(() => {
					this.getUserInfo(this.$store.getters.getActiveAccount.user_id)
				}).catch((err) => {
					console.log(err)
				})
			})
		})
  },
  mounted () {},
  methods: {
		getUserInfo (userID) {
			let accountToken = this.$store.getters.getAccountToken
      return axios({
        method: 'GET',
        url: `${Env.url}/api/user/` + userID,
        headers: {
          'Authorization': 'Bearer ' + accountToken
        }
      }).then((res) => {
				this.userName = res.data.payload.user.first_name
			}).catch((err) => {
				console.log(err)
			})
		},
    getMyAppsPermissions () {
      let accountToken = this.$store.getters.getAccountToken
      return axios({
        method: 'POST',
        url: `${Env.authorization_url}/api/role/details/self`,
        headers: {
          'Authorization': 'Bearer ' + accountToken
        }
      })
    },
    selectUserAccount (id) {
      let token = this.$store.getters.getToken
      return axios({
        method: 'POST',
        url: `${Env.business_url}/api/account/login`,
        headers: {
          'Authorization': 'Bearer ' + token
        },
        data: {
          'account_id': id
        }
      }).then((res) => {
        this.$store.dispatch('SET_STORAGE_ACCOUNT_TOKEN', {account_token: res.data.payload.token})
      }).then(() => {
        this.getMyAppsPermissions().then((res) => {
          this.$store.dispatch('SET_ACCOUNT_PERMISSIONS', res.data.payload.role.permissions)
        }).then(() => {
          this.endLoad()
        })
      }).catch((err) => {
        console.log(err)
      })
    },
    getAccounts () {
      let token = this.$store.getters.getToken
      return axios({
        method: 'POST',
        url: `${Env.business_url}/api/account/list`,
        headers: {
          'Authorization': 'Bearer ' + token
        }
      })
    },
    logout () {
      LoginFunctions.logout()
        .then(response => {
          console.log(response)
          this.$store.dispatch('CLEAR_STORAGE')
          this.$router.push('login')
        }).catch((err) => {
          console.log(err)
        })
    },
    startLoad () {
      this.showModalLoad = true
      this.showModal = true
      console.log('show loader')
      // then get all the things, then remove modals
    },
    endLoad () {
      /* this.showModalLoad = this.showModal = this.showModalAccount = this.showSideNav = false */
      this.showModalLoad = false
      this.showModal = false
      this.showModalAccount = false
      this.showSideNav = false
    },
    switchAccountQuestion (account) {
      this.switchToAccount = account
      this.showModal = true
      this.showModalAccount = true
    },
    switchAccount () {
      this.startLoad()
      this.$store.dispatch('SET_ACTIVE_ACCOUNT', this.switchToAccount).then(() => {
        this.selectUserAccount(this.$store.getters.getActiveAccount.user_id)
      })
    },
    /**
    * highlight selected account
    * @function
    * @param {integer} id - account Id.
    * @returns {undefined}
    */
    getHighlight (id) {
      let accounts = this.$store.getters.getAccounts
      for (let x = 0; x < accounts.length; x++) {
        if (accounts[x].id === id) {
          return 'highlight'
        }
      }
    },
    /**
    * highlight selected account on mobile menu
    * @function
    * @param {integer} id - account Id.
    * @returns {undefined}
    */
    getHighlightMobile (id) {
      let accounts = this.$store.getters.getAccounts
      for (let x = 0; x < accounts.length; x++) {
        if (accounts[x].id === id) {
          return 'highlightMobile'
        }
      }
    }
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.logout{
	cursor: pointer;
	padding-left: 30px;
}
.a-s-center{
	align-self: center;
	// margin: auto;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.7s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.modal{
  z-index: 51;
}
.modal-box{
  margin: auto !important;
  width: 400px !important;
}
.app-icon{
  display: none !important;
  @media screen and (min-width: 769px) {
      display: block !important;
  }
}
.menu-burg{
  // display: none;
  @media screen and (min-width: 769px) {
      display: none;
  }
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column
}
.just-c-s-b{
  justify-content: space-between;
}
.title-site{
  font-size: 2.5em;
}
.each-account{
  cursor: pointer;
  background-color: #424446;
  transition: .35s ease-in-out;
}
.each-account:hover{
  background-color: lighten(#424446, 5%);
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.highlight{
  background-color: lighten(#424446, 5%);
  border-left: 2px solid white;
  border-right: 2px solid white;
  transition: .35s ease-in-out;
}
.highlight:hover{
  background-color: #424446;
  border: none;
}
.highlightMobile{
  background-color: lighten(rgba(66,68,70,0.5), 25%);
  border-left: 2px solid white;
  border-right: 2px solid white;
  transition: .35s ease-in-out;
}

.m-b-0{
  margin-bottom: 0px !important;
}
.m-b-5{
  margin-bottom: 5px !important;
}
.account-img{
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: green;
  padding-right: 30px;
}
.account-name{
  width: 100%;
  padding-left: 20px;
}
.top-bar{
  background-color: #fff;
  padding: 20px;
  width: calc(100% - 260px);
  // width: 100%;
  height: 100px;
  position: fixed;
  z-index: 50;
  @media screen and (max-width: 768px) {
      width: 100%;
  }
}
.p-lr-20{
	padding: 0 20px;
}
.p-75{
  padding: 0.75em;
}
.p-20{
  padding: 20px;
}
.side-p-t-b{
  padding: 12px 0 !important;
}
#app-left {
  background-color: #424446;
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: left;
  color: white;
  @media screen and (max-width: 768px) {
      display: none;
  }
}
#app-right{
  width: calc(100% - 260px);
  height: 100%;
  margin-left: 260px;
  position: relative;
  @media screen and (max-width: 768px) {
      width: 100%;
      margin-left: 0;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.box{
  height: 200px;
  width: 200px;
  // max-width: 250px;
  margin: 0.75em;
  cursor: pointer;
}
.grid-wrap{
  flex-wrap: wrap;
}
.wrap-container {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
}
.app-grid{
  padding: 0.75rem;
  height: calc(100% - 100px);
  margin-top: 100px;
  overflow-y: scroll;
}
.just-c-c{
  justify-content: center;
}
.align-c-fs{
  align-content: flex-start;
}
.h100{
  height: 100%;
}
.w100{
  width: 100%;
}
.box-content-block{
  width: 330px;
  margin: auto;
  position: relative;
}
.box-container {
  display: flex;
  vertical-align: middle;
  position: relative;
  height: 100%;
  padding: 125px 1.5em 1.5em 1.5em;
}
.box-wrapper {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, #f3f6f8 0%, #fff 100%);
}
.box-wrapper::before {
  content: "";
  position: fixed;
  left: -35%;
  top: 60%;
  right: 0;
  width: 135%;
  height: 100%;
  background: linear-gradient(155deg, #fff 0%, #f3f6f8 100%);
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
}
.column{
  padding: 0px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 100%;
    top: 40px;
    margin-top: 60px;
    transform: translateX(-100);
    transition: transform 750ms ease-in-out;
    -webkit-transform: translateX(-100);
    -webkit-transition: -webkit-transform 750ms ease-in-out;
    background-color: rgba(66,68,70, 0.5);
    @media screen and (min-width: 769px) {
      display: none;
    }
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(100);
    -webkit-transform: translateX(100);
}

input[type=checkbox] {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    // position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    // top: 22px;
    // left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #dbdbdb ;
}
.horizontal {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
  -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: -9px;
}

</style>
