<template>
  <div class="box-wrapper">
    <img class="login-logo" src="../../assets/images/uno-logo.png" />
    <div class="box-container">
      <div class="box-content-block">
        <div class="card">
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="(this.$route.name === 'LoginMain' || this.$route.name === 'LoginExpired') && forgotPassword === false && forgotParams === ''" class="card-content">
              <form @submit.prevent="login($event)" class="form-spacing">
                <div style="margin-bottom: 0.75rem;">
                  <div class="field">
                    <div class="control has-icons-left">
                      <input v-model="user.email" autofocus class="input is-medium" :class="{'is-danger' : emptyEmail}" type="email" placeholder="Email">
                      <span class="icon is-left">
                        <icon name="envelope"></icon>
                      </span>
                      <!-- <span v-show="this.emptyEmail" class="icon is-right">
                        <icon name="exclamation-triangle"></icon>
                      </span> -->
                    </div>
                    <div class="holder">
                      <p v-show="emptyEmail" class="help is-danger has-text-left">Email is required</p>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input v-model="user.password" class="input is-medium" :class="{'is-danger' : emptyPassword}" type="password" placeholder="Password">
                      <span class="icon is-left">
                        <icon name="lock"></icon>
                      </span>
                      <span v-show="emptyPassword" class="icon is-right">
                        <icon name="exclamation-triangle"></icon>
                      </span>
                    </div>
                    <div class="holder">
                      <p v-show="emptyPassword" class="help is-danger has-text-left">Password is required</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="field">
                    <p class="control">
                      <button type="submit" class="button is-success is-medium is-fullwidth submit-button">
                        <span class="m-r-20">Login</span>
                        <icon name="angle-right" scale="1.5"></icon>
                      </button>
											<span v-if="error1" class="help is-danger has-text-left">Something went wrong.</span>
                    </p>
                  </div>
                  <div class="field">
                    <!-- <a tabindex="0">forgot</a> -->
                    <a tabindex="0" class="has-text-left is-size-7 has-text-grey-light small-link reset-link" @click="goToReset()" @keyup.enter="goToReset()" role="button">Forgot your password?</a>
                  </div>
                </div>
              </form>
            </div>
          </transition>
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="(this.$route.name === 'ForgotPassword' && resetPassword === false)" class="card-content">
              <form v-if="!emailSent" @submit.prevent="forgot($event)">
                <div class="field">
                  <p class="subtitle is-6">Enter your email</p>
                </div>
                <div class="field">
                  <div class="control has-icons-left has-icons-right">
                    <input v-model="user.email" class="input is-medium" :class="{'is-danger' : emptyEmail}" type="email" placeholder="Email" autofocus>
                    <span class="icon is-left">
                      <icon name="envelope"></icon>
                    </span>
                    <span v-show="emptyEmail" class="icon is-right">
                      <icon name="exclamation-triangle"></icon>
                    </span>
                  </div>
                  <div class="holder">
                    <p v-show="emptyEmail" class="help is-danger has-text-left">Email is required</p>
                  </div>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-success is-medium is-fullwidth submit-button" type="submit">
                      <span class="m-r-20">HELP ME</span>
                      <icon name="angle-right" scale="1.5"></icon>
                    </button>
                  </p>
                </div>
                <div class="field">
                  <!-- <a tabindex="0" class="has-text-left is-size-7 has-text-grey-light small-link"><span class="reset-link" @click="goToReset()">Forgot your password?</span></a> -->
                  <a tabindex="0" class="has-text-left is-size-7 has-text-grey-light reset-link" @click="goToLogin()" @keyup.enter="goToLogin()">Nevermind, take me back.</a>
                </div>
              </form>
              <div v-if="emailSent">
                <div class="field">
                  <p class="subtitle is-6">We’ve sent further instructions to your email.</p>
                  <div class="field">
                    <p class="control">
                      <button @click="goBack()" class="button is-success is-medium is-fullwidth submit-button" autofocus>
                        <span class="m-r-20">Okay</span>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </transition>
          <transition
            name="fade"
            mode="out-in"
          >
					<div v-if="this.forgotParams !== ''" class="card-content">
					<!-- <div v-if="(this.$route.name === 'ForgotPassword' && resetPassword === true)" class="card-content"> -->
            <!-- <div v-if="(this.$route.name === 'ForgotPassword' && resetPassword === true)" class="card-content"> -->
              <form @submit.prevent="reset($event)" novalidate>
                <div class="field">
                  <div class="control has-icons-left has-icons-right">
                    <input v-model="user.email" class="input is-medium" :class="{'is-danger' : emptyEmail}" type="email" placeholder="Email" autofocus>
                    <span class="icon is-left">
                      <icon name="envelope"></icon>
                    </span>
                    <span v-show="emptyEmail" class="icon is-right">
                      <icon name="exclamation-triangle"></icon>
                    </span>
                  </div>
                  <div class="holder">
                    <p v-show="emptyEmail" class="help is-danger has-text-left">Email is required</p>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-icons-left has-icons-right">
                    <input v-model="newPassword" class="input is-medium" :class="{'is-danger' : emptyResetPassword}" type="password" placeholder="New Password">
                    <span class="icon is-left">
                      <icon name="lock"></icon>
                    </span>
                    <span class="icon is-right">
                      <icon name="eye"></icon>
                    </span>
                  </div>
                  <div class="holder">
                    <p v-show="emptyResetPassword" class="help is-danger has-text-left">Password is required</p>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-icons-left has-icons-right">
                    <input v-model="passwordCheck" class="input is-medium" :class="{'is-danger' : emptyResetPasswordConfirm}" type="password" placeholder="Confirm Password">
                    <span class="icon is-left">
                      <icon name="lock"></icon>
                    </span>
                    <span class="icon is-right">
                      <icon name="eye"></icon>
                    </span>
                  </div>
                  <div class="holder">
                    <p v-show="emptyResetPasswordConfirm" class="help is-danger has-text-left">Passwords do not match</p>
                  </div>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-success is-medium is-fullwidth submit-button" type="submit">
                      <span class="m-r-20">RESET</span>
                      <icon name="angle-right" scale="1.5"></icon>
                    </button>
										<span v-if="error2" class="help is-danger has-text-left">Something went wrong</span>
                  </p>
                </div>
              </form>
              <div v-if="emailSent">
                <div class="field">
                  <p class="subtitle is-6">An email has been sent to the address you provided with further instructions</p>
                  <div class="field">
                    <p class="control">
                      <button @click="goBack()" class="button is-success is-medium is-fullwidth submit-button" autofocus>
                        <span class="m-r-20">Okay</span>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Env from '../../environment.js'
// import axios from 'axios'
import LoginFunctions from '../controllers/Login'

/**
 * Define the email pattern to check for valid emails.
 * @var {regex}
 * @memberof Login
 */
var emailPattern = /^.+@.+\..+$/

export default {
  name: 'LoginMain',
  props: {
    msg: String
  },
  data () {
    return {
      emptyEmail: false,
      emptyPassword: false,
      forgotPassword: false,
      resetPassword: false,
      emailSent: false,
      user: {
        email: '',
        password: ''
      },
      newPassword: '',
      passwordCheck: '',
      emptyResetPassword: false,
      emptyResetPasswordConfirm: false,
			forgotParams: '',
			error1: false,
			error2: false
    }
  },
  computed: {},
  watch: {},
  created () {
		let pathname = window.location.pathname
		let params = pathname.split('/').pop()
		this.forgotParams = params
  },
  mounted () {},
  methods: {
    /**
		 * To hide the forgot password form.
		 * @function
		 * @returns {undefined}
		 */
		goBack () {
			this.forgotPassword = false
			this.emailSent = false
			this.$router.push('login')
		},
    goToLogin () {
			this.emptyEmail = false
			this.emptyPassword = false
			this.error1 = false
      this.forgotPassword = false
      this.$router.push('login')
    },
    goToReset () {
			this.emptyEmail = false
			this.emptyPassword = false
      this.forgotPassword = true
			this.error1 = false
      this.$router.push('forgot-password')
    },
    /**
     * To check if the email and password are valid before submitting to the backend for login.
     * @function
     * @returns {object} A promise that will validate the input form
     */
    validateLoginData () {
      var loginVue = this
      return new Promise(function (resolve, reject) {
        if (!loginVue.user.email.length) {
          loginVue.emptyEmail = true
          reject('Your email cannot be blank')
        } else if (!loginVue.user.password.length) {
          loginVue.emptyPassword = true
          reject('Your password cannot be blank')
        } else if (!emailPattern.test(loginVue.user.email)) {
          loginVue.emptyEmail = true
          reject('Please enter a valid email')
        }
        resolve('Hurray')
      })
    },
		/**
		 * To check if the email and password are valid before submitting to the backend for login.
		 * @function
		 * @returns {object} A promise that will validate the input form
		 */
		validateResetData () {
			var loginVue = this
			return new Promise(function (resolve, reject) {
				if (!loginVue.user.email.length) {
					loginVue.emptyEmail = true
					reject('Your email cannot be blank')
				}
				if (!loginVue.newPassword) {
					reject('Your password cannot be blank')
					loginVue.emptyResetPassword = true
				}
				if (!loginVue.passwordCheck) {
					loginVue.emptyResetPasswordConfirm = true
					reject('You must confirm your password!')
				}
				if (loginVue.newPassword !== loginVue.passwordCheck) {
					loginVue.error2 = true
					reject('Passwords do not match')
				}
				if (!emailPattern.test(loginVue.user.email)) {
					loginVue.emptyEmail = true
          reject('Please enter a valid email')
				}
				resolve('Hurray')
			})
		},
		/**
		 * To check if the email is valid before submitting to the backend for forgot call.
		 * @function
		 * @returns {object} A promise that will validate the input form
		 */
		validateForgotData () {
			var loginVue = this
			return new Promise(function (resolve, reject) {
				if (!loginVue.user.email.length) {
					loginVue.emptyEmail = true
					reject('Your email cannot be blank')
				} else if (!emailPattern.test(loginVue.user.email)) {
					loginVue.emptyEmail = true
					reject('Please enter a valid email')
				}
				resolve('Hurray')
			})
		},
    /**
		 * To prompt the backend call that logs the user in.
		 * @function
		 * @param {object} event - The click event that prompted this function.
		 * @returns {object} A promise that will either return an error message or display the success screen
		 */
		login (event) {
      console.log(event)
			var loginVue = this
			return loginVue
				.validateLoginData(loginVue)
				.then(() => {
					loginVue.emptyEmail = false
					loginVue.emptyPassword = false
					LoginFunctions.login(loginVue.user.email, loginVue.user.password)
						.then(response => {
              let data = {token: response.data.payload.token}
							console.log('set token after login')
              this.$store.dispatch('SET_STORAGE_TOKEN', data)
            // }
						})
            .then(() => {
							console.log('push home')
              this.$router.push('Home')
            })
						.catch(reason => {
							console.log('login failed')
							this.error1 = true
							console.log(reason)
						})
				})
				.catch(reason => {
					console.log('validate failed')
					this.error1 = true
          console.log(reason)
				})
		},
    /**
		 * To prompt the backend call that sends the user a password reset after forgetting password.
		 * @function
		 * @param {object} event - The click event that prompted this function.
		 * @returns {object} A promise that will either return an error message or display the success screen
		 */
		forgot (event) {
			this.error1 = false
			console.log(event)
      // this.emailSent = true
			var loginVue = this
			return loginVue
				.validateForgotData()
				.then(response => {
					console.log(response)
					LoginFunctions.forgot(loginVue.user.email)
					.then(response => {
						console.log(response)
						this.emailSent = true
						this.$forceUpdate()
					})
					.catch(reason => {
						console.log(reason)
					})
				}).catch((err) => {
					console.log(err)
				})
			},
			/**
			 * To prompt the backend call that resets password.
			 * @function
			 * @param {object} event - The click event that prompted this function.
			 * @returns {object} A promise that will either return an error message or display the success screen
			 */
			reset (event) {
				this.error1 = false
				this.emptyEmail = false
				this.emptyResetPassword = false
				this.emptyResetPasswordConfirm = false
				// this.error2 = ''
				console.log(event)
				var loginVue = this
				return loginVue
					.validateResetData()
					.then(response => {
						console.log(response)
						LoginFunctions.reset(loginVue.newPassword, loginVue.passwordCheck, loginVue.forgotParams)
						.then(response => {
							this.error2 = false
							console.log(response)
							this.$forceUpdate()
						})
						.then(() => {
							LoginFunctions.login(loginVue.user.email, loginVue.newPassword).then((res) => {
								let data = {token: res.data.payload.token}
								this.$store.dispatch('SET_STORAGE_TOKEN', data)
							}).then(() => {
								this.$router.push('Home')
							}).catch((err) => {
								console.log(err)
							})
						})
						.catch(reason => {
							console.log(reason)
						})
					}).catch((err) => {
						console.log(err)
					})
				}
		}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.form-spacing{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.4s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
.reset-link{
  transition: all 0.1s linear;
  cursor: pointer;
}
.reset-link:hover{
  color: hsl(0, 0%, 48%);
}
.submit-button{
  .m-r-20{
    transition: all 0.1s linear;
    margin-right: 20px;
  }
}

.submit-button:hover{
  .m-r-20{
    margin-right: 25px;
  }
}
.submit-button:focus{
  .m-r-20{
    margin-right: 25px;
  }
}
.holder{
  position: relative;
  height: 1em;
  width: 100%;
  p{
    position: absolute;
  }
}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 330px;
}
.card-content{
  padding: 2.5em;
  position: absolute;
  height: 100%;
}
.login-logo{
  position: absolute;
	height: 33px;
	width: 125px;
  top: 2.5em;
  left: 2.5em;
}
.box-content-block{
  width: 330px;
  margin: auto;
  position: relative;
}
.box-container {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 20px;
}
.box-wrapper {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, #f3f6f8 0%, #fff 100%);
}
.box-wrapper::before {
  content: "";
  position: fixed;
  left: -35%;
  top: 60%;
  right: 0;
  width: 135%;
  height: 100%;
  background: linear-gradient(155deg, #fff 0%, #f3f6f8 100%);
  transform: rotate(15deg);
}

</style>
